# Archivos binarios de Java #
*.class

# Carpetas generadas por algunas herramientas de Java #
/bin/
/target/
/build/
/classes/
/out/

# Archivos y carpetas de sistemas de construcción #
*.log
*.jar
*.war
*.ear
*.iml
.idea/
.project
.classpath
.settings/

# Otros archivos y carpetas que podrían ser generados #
*~
*.bak
*.swp
.DS_Store
Thumbs.db

